* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    background-color: #242424;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.sign-up {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}